@using Giftstarter.Domain
@model dynamic
@{
}

<h2>Pledge to your friend @ViewBag.name</h2>

<div class="row">
    <div class="col-md-3">
        <div class="thumbnail" style="width: 135px; display:inline-block;">
            <div style="font-weight: bold; text-align: center;">@ViewBag.name</div>
            <img src="~/Images/Mugshots/@(ViewBag.name.ToLowerInvariant()).png" />
        </div>

        <div class="text-success" style="font-size: 150%; font-weight: bold;">5 gifts so far!</div>
    </div>
    
    @using (Html.BeginForm("Pledge", "Home", FormMethod.Post, new {}))
    {
        <div class="col-md-9" style="width: 70%; font-size: 120%;">
            <div class="row" style="margin: 4px;">
                <div class="col-md-4" style="font-weight: bold;">Gift</div>
                <div class="col-md-2" style="font-weight: bold;">Price</div>
                <div class="col-md-4" style="font-weight: bold;">Pledged so far</div>
                <div class="col-md-2" style="font-weight: bold;">Amount</div>
            </div>
            @foreach (var gift in State.Instance.Wishlists[new User(ViewBag.name)])
            {
                <div class="row" style="margin: 4px;">
                    <a class="col-md-4" href=@gift.Link style="font-weight: bold;">@gift.Name</a>
                    <div class="col-md-2">@gift.Price.ToString("C")</div>
                    <div class="col-md-4">
                        <div class="progress" style="width: 100%;">
                            <div class="progress-bar" role="progressbar" style="width: @gift.Progress().ToString()%;" />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <input type="text" class="form-control" placeholder="£0.00" />
                    </div>
                </div>
            }
            <input type="submit" class="btn btn-lg btn-primary btn-block" value="Pledge!"
                   style="font-weight: bold; width: 120px; float: right; font-size: 140%; margin-top: 10px; margin-right: 5px;" />
        </div>
    }
</div>